<link rel="import" data="import-content-homepage" href="../views/partials/homepage.html">

<div class="imported-content-wrapper"></div>

<div class="modal modal" name="MODAL_NAME">
    <div class="modal-overlay"></div>

    <div class="modal-body">
        <div class="modal-container">
            <i class="modal-close-button material-icons" icon="close"></i>

            <div class="modal-body-title">
                <h2 class="comment-title">{Comment_Title}</h2>
            </div>

            <div class="modal-content flex direction--column grid justify--center items-center">
                <p class="comment-desc"></p>

                <video width="400" controls class="comment-video hidden">
                    <source src="" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>
            </div>
        </div>
    </div>
</div>
    
