<div class="header-wrapper flex justify--center align-center">

    <div class="header-left flex justify--space-around align-center full-width">
        <span class="header-item" path="">
            About Us
        </span>

        <span class="header-item" path="">
            Services
        </span>
        
        <span class="header-item" path="">
            INDUSTRIES
        </span>
    </div>

    <a href="https://en.create.at/blog" target="_blank" path="path-homepage" class="header-item flex align-center">
        <img src="assets/images/Create_Logo.png" alt="logo" class="logo">
    </a>

    <div class="header-right flex justify--space-around align-center full-width">
        <span class="header-item" path="">
            CUSTOMERS
        </span>

        <span class="header-item --active" path="">
            BLOG
        </span>
        
        <span class="header-item" path="">
            CONTACT
        </span>
    </div>

    <i class="material-icons menu-button" icon="menu"></i>
</div>


<div class="menu flex direction--column align-center">
    <div class="menu-overlay"></div>

    <i class="material-icons menu-button" icon="close"></i>
    
    <div class="menu-content flex direction--column justify--center align-center">
        <span class="header-item" path="">
            ABOUT US
        </span>

        <span class="header-item" path="">
            SERVICES
        </span>
        
        <span class="header-item" path="">
            INDUSTRIES
        </span>

        <span class="header-item" path="">
            CUSTOMERS
        </span>

        <span class="header-item --active" path="">
            BLOG
        </span>
        
        <span class="header-item" path="">
            CONTACT
        </span>
    </div>
</div>