<div class="header-wrapper flex justify--center align-center">

    <div class="header-left flex justify--space-around align-center full-width">
        <span class="header-item" path="">
            About Us
        </span>

        <span class="header-item" path="">
            Services
        </span>
        
        <span class="header-item" path="">
            INDUSTRIES
        </span>
    </div>

    <span path="path-homepage" class="header-item flex align-center">
        <img src="assets/images/Create_Logo.png" alt="logo" class="logo">
    </span>

    <div class="header-right flex justify--space-around align-center full-width">
        <span class="header-item" path="">
            CUSTOMERS
        </span>

        <span class="header-item --active" path="">
            BLOG
        </span>
        
        <span class="header-item" path="">
            CONTACT
        </span>
    </div>

</div>