header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em;
  margin: auto;
  background-color: #fafafa;
  z-index: 2;
  font-family: 'Title';

  .header-wrapper {
    width: 70%;
    margin: auto;

    .header-item {
      font-size: .8rem;
      color: #4e4f56;
      text-transform: uppercase;
      letter-spacing: 3px;

      &:hover {
        color: #a4a5ad;
      }
      &.--active {
        color: #a4a5ad;
      }
      .logo {
        width: 65%;
        height: auto;
        margin: auto;
        padding: .25rem 0 0 0;
      }
      [path] {
        font-size: 2rem;
        margin: 0 1rem;
        z-index: 3;
      }
    }

    .menu-button {
      display: none;
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: auto;
  right: -100px;
  width: 60%;
  height: 100%;
  background: #eeeeee;
  border-left: 1px solid #000;
  box-shadow: 1px 1px 38px 10px #000;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: all 200ms;
  .menu-button {
    background-color: red;
    border: 1px solid #ddd;
    color: #ffffff;
    padding: 2rem;
    z-index: 3;
  }
  .menu-content {
    width: 100%;
    height: 100%;
    z-index: 3;
  }
}

// Tablet Style
@media #{$media-tablet} {
  header {
    .header-wrapper {
      width: 100%;
      justify-content: space-between !important;

      .header-left, .header-right {
        display: none;
      }
      .header-item {
        &[path=path-homepage] {
          width: 30%;
          .logo {
            // width: 25%;
            margin: unset;
          }
        }
      }
      .menu-button {
        display: block;
        &::before {
          font-size: 3rem;
        }
      }

      .menu {
        display: block;
        .menu-button {
          &::before {
            font-size: 3rem;
          }
        }
      }
    }
  }
}

// Mobile Style
@media #{$media-mobile} {
  header {
    .header-wrapper {
      .header-item{
        &[path=path-homepage] {
          width: 60%;
        }
      }
    }
  }

  .menu {
    .menu-content {
      height: 70%;
      .header-item {
        font-size: 1.5rem;
      }
      .menu-button {
        &::before {
          font-size: 2rem;
        }
      }
    }
  }
}