header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: .5em;
  margin: auto;
  background-color: #fafafa;
  z-index: 2;
  font-family: 'Title';

  .header-wrapper {
    width: 70%;
    margin: auto;

    .header-item {
      font-size: .8rem;
      color: #4e4f56;
      text-transform: uppercase;
      letter-spacing: 3px;

      &:hover {
        color: #a4a5ad;
      }
      .logo {
        width: 65%;
        height: auto;
        margin: auto;
        padding: .25rem 0 0 0;

        &.animate{
          animation: logo-animation 2s 2s infinite;
          @keyframes logo-animation {
            // 0% {
            //   transform: scale(1);
            // }
            35% {
              transform: scale(1);
            }
            40% {
              transform: scale(1.2);
            }
            45% {
              transform: scale(1);
            }
            50% {
              transform: scale(1.2);
            }
            80% {
              transform: scale(1);
            }
            // 100% {
            //   transform: scale(1);
            // }
          }
        }
      }

      [path] {
        font-size: 2rem;
        margin: 0 1rem;
        z-index: 3;
      }

      [path=path-homepage] {
        // margin: 1rem 0 0 0.5rem;
      }
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 100%;
  margin: auto;
  background: #000000;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: all 200ms;
  
  .menu-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 0;
  }

  img {
    &.logo {
      position: fixed;
      top: auto;
      bottom: 1rem;
      left: 0rem;
      right: auto;
      width: 30% !important;
      max-width: unset;
      opacity: 0.15;
      z-index: -1;
    }
  }

  [path] {
    width: fit-content;
    z-index: 1;
    margin: 2rem;
    font-size: 4rem;
  }
}